.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-5 {
  right: 1.25rem
}

.top-5 {
  top: 1.25rem
}

.z-10 {
  z-index: 10
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-auto {
  margin-left: auto
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-2\.5 {
  margin-top: 0.625rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-\[\#59c1cc\] {
  --tw-border-opacity: 1;
  border-color: rgb(89 193 204 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[\#59c1cc\] {
  --tw-bg-opacity: 1;
  background-color: rgb(89 193 204 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.p-0 {
  padding: 0px
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-0 {
  padding-bottom: 0px
}

.pb-52 {
  padding-bottom: 13rem
}

.pb-48 {
  padding-bottom: 12rem
}

.pt-4 {
  padding-top: 1rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.text-\[\#59c1cc\] {
  --tw-text-opacity: 1;
  color: rgb(89 193 204 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opacity-90 {
  opacity: 0.9
}
